body {
  background: #ebecf3;
  min-width: 700px;
}

.comments-cnt {
  font-family: sans-serif;
  max-width: 900px;
  margin: 20px auto;
}

.comments-title {
  font-family: sans-serif;
  font-weight: normal;
}

.comments {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment {
  display: flex;
  margin-bottom: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

.comment-avatar {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #ddd;
}

.comment-avatar-author {
}

.comment-avatar img {
  max-width: 100%;
  
}

.comment-meta {
  color: #aaa;
}

.comment-text {
  font-size: 15px;
  margin: 20px 0;
  line-height: 1.4em;
}

.comment-reply {
  display: inline-block;
  color: #e85a71;
  text-decoration: none;
  font-size: 14px;
  border: 2px solid #e85a71;
  border-radius: 50px;
  padding: 10px 40px;
}

.comment-level-2 {
  margin-left: 140px;
  
}
