
html, body {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(255, 255, 0, 0.5);
}

* {
  padding: 20px;
  margin: 20px 0;
  background: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 255, 0.6);
  font-weight: bold;
  font-size: 1rem;
  font-family: sans-serif;
}

/* tutaj nasze style */

div.module>h2{
  background: rgba(0, 247, 255, 0.5);
}
div.module>div
{
  background: rgba(255, 0, 0, 0.5)
}
div.module div h2
{
  background: rgba(255, 0, 157, 0.5);
}
div.module>h2+p
{
  background: rgba(89, 0, 255, 0.5);
}
div.module>h2+p+p
{
  background: rgba(0, 225, 255, 0.5);
}
div.module>h2+p
{
  background: rgba(51, 255, 0, 0.5);
}
div.module>h2+p+p
{
  background: rgba(51, 255, 0, 0.5);
}
div.module>h2+p+p+p
{
  background: rgba(51, 255, 0, 0.5);
}
div.module div+p+div h2 
{
  background: rgba(251, 255, 0, 0.5);
}
div.module div+p+div h2+p
{
  background: rgba(0, 47, 255, 0.5);
}